extends layout

block content
  #banner.page-header
    .row 
      .col-lg-12
        h1= header
    .row
      .col-md-4
        h3 &nbsp; Forget your dice?
      .col-md-4
        h3 &nbsp; Feeling lazy?
      .col-md-4
        h3 &nbsp; Never fear!
      .col-md-12
        h4 &nbsp; (These are all placeholders for the time being)
  .row
    .col-md-12
      ul.nav.nav-tabs
        li.active
          a(href="#location", data-toggle="tab", aria-expanded="true") Location-Based
        li
          a(href="#event", data-toggle="tab", aria-expanded="false") Event-Based
      div(id="myTabContent").tab-content
        .tab-pane.fade.active.in(id="location")

          each component in locationAdventureData.adventureComponents
            .row
              .col-xs-12
                .panel.panel-default
                  .panel-heading= component.title
                  .panel-body
                    h5= component.value

        .tab-pane.fade(id="event")
          .row
            .col-xs-12
              ul.list-group
                li.list-group-item
                  .row
                    .col-xs-1
                      p 1.
                    .col-xs-11
                      panel.panel-primary
                        .panel-heading
                          .panel-title Start With a Villain
                li.list-group-item
                  .row
                    .col-xs-1
                      p 2.
                    .col-xs-11
                      panel.panel-primary
                        .panel-heading
                          .panel-title Determine the Villain's Actions

          each component in eventAdventureData.adventureComponents
            .row
              .col-xs-12
                .panel.panel-default
                  .panel-heading= component.title
                  .panel-body
                    h5= component.value
                         
  .row
    .col-xs-12
      button.btn-primary Save
